#fill in the value of the keys and copy as getpaper/.env

#OPENAI KEYS CONFIGURATION
#required only if you want to store papers as OpenAI embeddings
OPENAI_API_KEY="put_openai_key_there"
PYTHONIOENCODING="utf-8"

